<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-grid.min.css">
</head>
<body>

<nav class="navbar bg-light">

    <ul id="menu" class="navbar-nav">
    </ul>

</nav>

<script type="text/javascript">
    var menu = document.getElementById('menu');
    document.addEventListener('DOMContentLoaded', function () {
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "/listQueryTemplates", true);
        xhr.onreadystatechange = function () {

            if (xhr.readyState === 4 && xhr.status === 200) {
                menu.innerHTML = '';
                var result = JSON.parse(xhr.response);
                if (result.length === 0) {
                    return;
                }

                result.forEach(el => {
                    var listItem = document.createElement("li");
                    listItem.className = "nav-item";
                    var a = document.createElement("a");
                    a.className = "nav-link";
                    a.innerHTML = el;
                    a.href = "/news?queryType=" + el;
                    listItem.appendChild(a)
                    menu.appendChild(listItem);
                })
            }
        }

        xhr.send(null);
    });
</script>
</body>
</html>
